@model ONLINE_Dr_APPOINTMENT.Models.Doctor_schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor_schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Doctor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Doctor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dr_Schedule_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dr_Schedule_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Appointments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Appointments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dr_schedule_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
